:root {
	--primary: #dc3e23;
	--accent: #232b2d;
}

body {
	font-family: 'Lato', sans-serif;
	color: var(--accent);
}

.table {
	color: var(--accent);
}

thead th {
	text-transform: uppercase;
	letter-spacing: .25ex;
	font-size: 0.8rem;
	font-weight: 900;
	color: var(--primary);
}

tbody th, tbody td {
	font-family: Archivo;
}

th {
	font-weight: 800;
}

h1 {
	font-weight: 800;
	color: var(--primary);
	margin-bottom: 2.5rem
}

img {
	width: 20rem;
}

header, footer {
	background: #F2F2F2;
	padding: 2.5rem 0;
}

article {
	padding: 2.5rem 0;
	padding-bottom: 0;
}

.col-md-6 {
	margin-bottom: 2.5rem
}

h2 {
	font-weight: 700;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1rem;
	letter-spacing: 1pt;
	margin: 2rem 0 1rem 0;
} 