<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated shared -->
      <package
            uri="http://mdse.org/pts/shared"
            class="org.mdse.pts.shared.SharedPackage"
            genModel="model/shared.genmodel"/>
   </extension>

</plugin>
